@import "./main.scss";

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 206px max-content 1fr;
  grid-template-rows: max-content 1fr;
  grid-template-areas: "search search search";
  font-family: Helvetica, Arial, sans-serif;
}
