@import "./main.scss";

.container {
  width: 98vw;
  height: 98vh;
  padding: 1vh;
  display: grid;
  gap: 1vh;
  grid-template-columns: max-content max-content 1fr;
  background: rgb(131, 124, 124);
}
