@import "./main.scss";

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  grid-template-rows: max-content 1fr;
  grid-template-areas: "search search search";
}
