/*
 * Contain all main variables and partials
 *
 */

$primary-color: #e63946;
$secondary-color: #dce9f7;
$tertiary-color: #c8d3df;
$border-color: #d1ddeb;
$primary-radius: 12px;
$secondary-radius: 8px;
$padding-xl: 24px;
$padding-l: 16px;
$padding-m: 12px;

@mixin align($justify: left, $items: left) {
  display: flex;
  justify-content: $justify;
  align-items: $items;
}
@mixin box($size: 24px) {
  width: $size;
  height: $size;
}
@mixin helvetica() {
  font-family: Helvetica, sans-serif;
}
@mixin arial() {
  font-family: Arial, sans-serif;
}
