@use "sass:map";
@import "../main.scss";

$navbar-expand: 186px;
$navbar-padding-side: 10px;

:root .active {
  width: $navbar-expand;

  .container-menu {
    .hamburger-menu {
      $hamburger-grow: (
        1: 100%,
        2: 100%,
        3: 100%,
      );

      @each $child, $percent in $hamburger-grow {
        div:nth-child(#{$child}) {
          width: #{$percent};
          height: 2px;
          border-radius: 100%;
        }
      }
    }
  }

  .menu div {
    visibility: visible;
  }

  .container-display:hover {
    background: $secondary-color;
    cursor: pointer;
  }

  .container-display .container-username {
    visibility: visible;
  }
}

.navbar {
  width: 48px;
  height: 100%;
  flex-direction: column;
  @include align($items: center);
  padding: 0 $navbar-padding-side;
  transition: width 300ms ease;
  gap: 12px;
  border-right: 1px solid $border-color;
  position: relative;

  .container-menu {
    margin-top: 12px;
    width: 100%;
    height: 48px;
    @include align(center, center);

    .hamburger-menu {
      width: 20px;
      height: 14px;
      flex-direction: column;
      cursor: pointer;
      @include align($justify: space-between);

      // hamburger menu div
      $hamburger-shrink: (
        1: 100%,
        2: 50%,
        3: 80%,
      );

      @each $child, $percent in $hamburger-shrink {
        div:nth-child(#{$child}) {
          width: #{$percent};
          height: 2px;
          background-color: black;
          border-radius: 100%;
          transition: width 300ms ease;
        }
      }
    }
  }

  .menu {
    width: 100%;
    height: 48px;
    font-size: 16px;
    border-radius: $secondary-radius;
    gap: 16px;
    transition: background-color 300ms ease;
    @include align($items: center);

    img {
      @include box(20px);
      margin-left: 14px;
    }

    div {
      margin-top: 2px;
      visibility: hidden;
      transition: visibility 100ms cubic-bezier(0.41, 0.93, 0.46, 0.96);
    }

    &:hover {
      background-color: $secondary-color;
      cursor: pointer;
    }
  }

  .container-display {
    width: 100%;
    height: 54px;
    display: grid;
    grid-template-columns: max-content 1fr;
    border-radius: 8px;
    align-items: center;

    $box-highlight: 28px;

    .container-border {
      @include box($box-highlight + 6px);
      @include align(center, center);
      margin: 0 8px;

      .border {
        border-radius: 100%;
        border: 1px solid rgb(106, 250, 48);
        cursor: pointer;
        @include box(28px);
        @include align(center, center);

        &:hover {
          padding: 1px;
        }

        .display {
          @include box(24px);
          background-color: rgb(35, 36, 100);
          border-radius: 100%;
        }
      }
    }

    .container-username {
      width: 124px;
      @include align(center, left);
      flex-direction: column;
      gap: 6px;
      visibility: hidden;
      transition: visibility 100ms ease;

      .name {
        font-weight: 600;
      }
      .username {
        font-size: 14px;
        
        span {
          font-size: 11px;
          color: cadetblue;
          display: inline-block;
          margin-right: 3px;
        }
      }
    }
  }
}
