@import "../main.scss";
$post-width: 760px;

.container-post {
  max-width: 760px - (2 * $padding-xl);
  height: auto;
  color: white;
  background-color: $secondary-color;
  display: grid;
  grid-template-columns: max-content 1fr;
  padding: 0 $padding-xl;
  gap: calc($padding-xl / 2);

  .side {
    grid-template-columns: max-content;
    grid-template-rows: max-content 1fr;
    display: grid;
    justify-content: center;

    .avatar {
      @include box(34px);
      border-radius: 100%;
      background-color: brown;
    }

    .relation {
      width: 100%;
      @include align($justify: center);

      div {
        width: 3px;
        height: 100%;
        background-color: rgb(136, 136, 136);

        &:hover {
          background-color: aqua;
        }
      }
    }
  }

  .content {
    display: grid;
    grid-template-rows: 34px 1fr 32px;
    height: max-content;
    text-align: justify;

    .info {
      width: 100%;
      height: 34px;
      @include align($justify: space-between);
      flex-direction: column;

      .username {
        font-size: 16px;
      }
      .time {
        font-size: 12px;
      }
    }

    .text {
      margin-top: 12px;
      width: 100%;
    }

    .interaction {
      width: 100%;
      height: 32px;
      @include align(end, center);
      gap: 12px;

      .container-inter {
        height: 28px;
        border-radius: 28px;
        @include align(center, center);
        padding: 2px 10px;
        gap: 6px;

        img {
          @include box(18px);
        }

        .number {
          @include align(center, center);
          font-size: 14px;
          margin-top: 1px;
        }

        &:hover {
          background: red;
          cursor: pointer;
        }
      }
    }
  }
}
