@import "../main.scss";
@import "./Navbar.scss";
@import "./Post.scss";

.container-search {
  grid-area: search;
  width: 100%;
  height: 60px;
  background-color: white;
  display: grid;
  grid-template-columns: ($navbar-expand + 2 * $navbar-padding-side) $post-width;

  .logo {
    width: 100%;
    height: 100%;
    // background: rgb(153, 153, 153);
  }

  .container-bar {
    grid-template-columns: 1fr;
    display: grid;
    align-items: center;
    padding: 0 24px;

    .searchbar {
      height: 40px;
      background: rgb(220, 233, 247);
      border-radius: 40px;
      border: none;
      outline: none;
      padding: 0 16px;
    }
  }
}
