@import "../main.scss";

$button-size: 40px;
$search-height: 40px;
$mag-size: 20px;

.container-bar {
  display: flex;
  align-items: center;
  padding: 0 $padding-xl;
  position: relative;

  .search {
    width: 100%;
    display: flex;
    z-index: 20;
    // background-color: rebeccapurple;

    $height-cancel: 20px;
    .cancel {
      @include box($search-height - $height-cancel);
      border-radius: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: $padding-xl + ($height-cancel - 6px);
      cursor: pointer;
      @include align(center, center);

      img {
        height: 100%;
      }
    }

    .search-button {
      outline: none;
      border: none;
      cursor: pointer;
      @include box($button-size);
      border-radius: $button-size;
      position: absolute;
      left: $padding-xl;
      background-color: transparent;

      img {
        @include box($mag-size);
      }
    }

    .search-bar {
      font-size: 15px;
      flex-grow: 1;
      height: $search-height;
      background: rgb(220, 233, 247);
      border-radius: $search-height;
      border: none;
      outline: none;
      padding: 0 46px;

      &:focus {
        background: $secondary-color;
      }
    }
  }

  $extra-padding: 10px;
  .wrapper-results {
    font-size: 14px;
    border: 1px solid $border-color;
    border-top: none;
    padding-top: $search-height + $extra-padding;
    position: absolute;
    top: 10px;
    left: 23px;
    width: 712px;
    border-radius: calc($search-height / 2);
    flex-grow: 2;
    background: white;
    z-index: 10;
    overflow-y: hidden;

    .container-results {
      .list-result {
        height: $search-height;

        &:hover {
          background: $mild-secondary-color;
        }

        .result {
          margin: 0 12px;
          height: 100%;
          @include align(left, center);
        }
      }
    }

    .container-search-more {
      height: $search-height;

      &:hover {
        background: $mild-secondary-color;
      }

      .search-more {
        @include align(left, center);
        border-top: 1px solid $border-color;
        height: 100%;
        margin: 0 12px;
      }
    }
  }
}
