@import "../main.scss";
$post-width: 760px;

$square-padding: $padding-m;
$content-gap: 12px;
$section-size: 34px;

.container-square {
  max-width: 760px - (2 * $padding-xl);
  height: auto;
  display: grid;
  grid-template-columns: max-content 1fr;
  padding: 0 $padding-xl;
  gap: calc($padding-xl / 2);
  background-color: white;
  border-bottom: 1px solid $border-color;

  &:hover {
    cursor: pointer;
    background: $secondary-color;
  }

  .side {
    grid-template-columns: max-content;
    grid-template-rows: $square-padding max-content 1fr $square-padding;
    display: grid;
    justify-content: center;

    .avatar {
      @include box($section-size);
      border-radius: 100%;
      background-color: brown;
    }

    .relation {
      width: 100%;
      @include align($justify: center);

      div {
        width: 3px;
        height: 100%;
        // background-color: rgb(136, 136, 136);
      }
    }
  }

  .content {
    display: grid;
    grid-template-rows: $section-size 1fr $section-size;
    height: max-content;
    text-align: justify;
    padding: $square-padding 0;
    gap: $content-gap;

    .info {
      width: 100%;
      @include align($justify: space-between);
      flex-direction: column;

      .username {
        font-size: 16px;
      }
      .time {
        font-size: 12px;
      }
    }

    .text {
      width: 100%;
      @include arial();
    }

    .interaction {
      width: 100%;
      @include align(end, center);
      gap: 12px;

      $container-height: 28px;
      $padding-updown-inter: 2px;
      $padding-side-inter: 10px;

      .container-inter {
        height: $container-height;
        border-radius: 28px;
        @include align(center, center);
        padding: $padding-updown-inter $padding-side-inter;
        gap: 6px;

        img {
          @include box(18px);
        }

        .number {
          @include align(center, center);
          font-size: 14px;
          margin-top: 1px;
        }

        &:hover {
          background-color: $tertiary-color;
          cursor: pointer;
        }

        // vote section
        .vote {
          @include align(center, center);
          @include box($container-height + (2 * $padding-updown-inter));
          border-radius: 20px;

          &:hover {
            background: white;
          }
        }
        .upvote {
          margin-left: -10px;
          margin-right: -4px;
        }
        .downvote {
          margin-left: -4px;
          margin-right: -10px;
          transform: rotate(180deg);
        }
      }

      // bring vote to the left
      .container-vote {
        justify-self: left;
      }
    }
  }
}
