@import "../components/Navbar.scss";
@import "../main.scss";

.container-scroll {
  width: max-content;
  max-height: max-content;
  scroll-behavior: smooth;
  background-color: $secondary-color;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}
