@import "../main.scss";

$sider-padding: $padding-xl;

.container-sider {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: $sider-padding 1fr $sider-padding;
  grid-template-rows: $sider-padding 1fr;
}
